.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.buy {
    display: inline-block;
    padding: 30px 100px;
    border-radius: 18px;
    background-position: 0%;
    transition: 0.4s;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, #ffce00, #fe4880);
    margin-top: 150px;
    font-size: 40px;
}

.tiltename {
    color: white;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 250px;
    font-family: optima;
}
.count {
    margin-top: 300px;
}
#open {
    font-size: 120px;
    color: red;
    text-align: center;
}
.namecount {
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: optima;
}

.count-form {
    text-align: center;
    justify-content: center;
    display: inline-block;
    padding: 30px 60px;
    border-radius: 18px;
    background-position: 0%;
    transition: 0.4s;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, #f12853, #f30000);
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    margin: 80px 200px 0px 200px;
}
.register {
    color: #f30000;
    font-size: 80px;
}

p {
    font-size: 40px;
}

.admin {
    color: #fff;
    margin: 15px 100px 0px 0px;
    float: right;
    font-size: 20px;
    border-radius: 6px;
    background-position: 0%;
    transition: 0.4s;
    padding: 5px;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, #ffce00, #fe4880);
}
